<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" />
    <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="../static/chessboard/js/chessboard-1.0.0.min.js"></script>
    <link href="../static/chessboard/css/chessboard-1.0.0.min.css" rel="stylesheet" />
</head>
<script>
    $(document).ready(function () {
        if (!$.cookie("username")) {
            $("#moveinput").hide();
        }
        $.get("./api/board", function (data) {
            let config = {
                pieceTheme: "../static/chessboard/img/chesspieces/wikipedia/{piece}.png",
                position: data.FEN
            };
            var board = Chessboard('board', config);
            $("#info").text(`${data.turn} to move. Make your choice`);
        })
        $("#vote").click(function () {
            let move = $("#move").val();
            $.get("./api/legal", data = { move: move }, function (data) {
                if (data == "-1") {
                    $("#moveinput").attr("class", "ui action input error");
                    setTimeout(function () {
                        $("#moveinput").attr("class", "ui action input");
                        $("#move").val("")
                    }, 500)
                }
                else {
                    if ($.cookie('username') != undefined && $.cookie('password') != undefined) {
                        // console.log(move);
                        $.get("/api/vote", data = { move: move, username: $.cookie('username'), password: $.cookie('password') }, function (data) {
                            if (data.status == "success") {
                                swal("成功", `您投了 ${move}`, "success");
                            }
                            else {
                                swal("错误", data.message, "error");
                            }
                        });
                    }
                }
            });
        })
        $("#login").click(function () {
            $.cookie('username', $("#username").val(), { expires: 365 });
            $.cookie('password', $("#password").val(), { expires: 365 });
            $("#login").attr("class", "ui positive button");
            setTimeout(function () {
                $("#login").attr("class", "ui button");
            }, 500)
        });
        $("#joinwhite").click(function () {
            if ($.cookie('username') != undefined && $.cookie('password') != undefined) {
                $.get("/api/apply", data = { color: 1, username: $.cookie('username'), password: $.cookie('password') }, function (data) {
                    if (data.status == "success") {
                        swal("成功", `报名了 White`, "success");
                    }
                    else {
                        swal("错误", data.message, "error");
                    }
                });
            }
            else {
                swal("错误", "请先登录", "error");
            }
        });
        $("#joinblack").click(function () {
            if ($.cookie('username') != undefined && $.cookie('password') != undefined) {
                $.get("/api/apply", data = { color: 0, username: $.cookie('username'), password: $.cookie('password') }, function (data) {
                    if (data.status == "success") {
                        swal("成功", `报名了 Black`, "success");
                    }
                    else {
                        swal("错误", data.message, "error");
                    }
                });
            }
            else {
                swal("错误", "请先登录", "error");
            }
        })
    });
</script>

<body>
    <div id="board" style="width: 400px"></div>
    <p id="info"></p>
    <div class="ui action input" id="moveinput">
        <input type="text" id="move">
        <button class="ui button" id="vote">Vote!</button>
    </div>
    <div>
        <div class="ui input">
            <input type="text" placeholder="Username" id="username">
        </div>
        <div class="ui input">
            <input type="text" placeholder="Password" id="password">
        </div>
        <button class="ui button" id="login">
            Login
        </button>
    </div>
    <div>
        <button class="ui basic button" id="joinwhite">Join White</button>
        <button class="ui black button" id="joinblack">Join Black</button>
    </div>
</body>