<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/fomantic-ui/2.9.0/semantic.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/fomantic-ui/2.9.0/semantic.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/chessboard-js/1.0.0/chessboard-1.0.0.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/chessboard-js/1.0.0/chessboard-1.0.0.min.css" rel="stylesheet" />
</head>
<script>
    $(document).ready(function () {
        $(".toast").toast({
            displayTime: 3000,
            showProgress: 'bottom',
            position: 'top right'
        });
      {% if current_user.is_authenticated and not current_user.allowed %}
      $.modal({
        title: 'Your account is not allowed to vote.',
        closeIcon: true,
        content: 'Your account may still be under review or banned by the administrator. Please contact the administrator for more information.',
        actions: [{
          text: 'Alright, got it',
          class: 'green'
        }]
      }).modal('show');
      {% endif %}
        $.get("./api/board", function (data) {
            let config = {
                pieceTheme: "../static/chessboard/img/chesspieces/wikipedia/{piece}.png",
                position: data.FEN
            };
            var board = Chessboard('board', config);
            $("#info").text(`${data.turn} to move. Make your choice`);
        })
        $("#vote").click(function () {
            let move = $("#move").val();
            $.get("./api/legal", data = { move: move }, function (data) {
                if (data == "-1") {
                    $("#moveinput").attr("class", "ui action input error");
                    setTimeout(function () {
                        $("#moveinput").attr("class", "ui action input");
                        $("#move").val("")
                    }, 500)
                }
                else {

                        // console.log(move);
                        $.get("/api/vote", data = { move: move }, function (data) {
                            if (data.status == "success") {
                                swal("成功", `您投了 ${move}`, "success");
                            }
                            else {
                                swal("错误", data.message, "error");
                            }
                        });

                }
            });
        });
        $("#joinwhite").click(function () {
                $.get("/api/apply", data = { color: 1 }, function (data) {
                    if (data.status == "success") {
                        swal("成功", `报名了 White`, "success");
                    }
                    else {
                        swal("错误", data.message, "error");
                    }
                });
        });
        $("#joinblack").click(function () {
                $.get("/api/apply", data = { color: 0 }, function (data) {
                    if (data.status == "success") {
                        swal("成功", `报名了 Black`, "success");
                    }
                    else {
                        swal("错误", data.message, "error");
                    }
                });
        });
            $.get("/api/applied",  function (data) {
              console.log(data)
                if (data.result != -1 || data.status == "error") {
                    $("#joinform").hide();
                }
            });
        $.get("/api/current",function(data){
            console.log(data)
            for (let u in data) {
                $("#movetable").children("tbody").append(`<tr><td>${u}</td><td>${data[u]?data[u]:"Not voted"}</td></tr>`);
            }
        })
    });
</script>

<body>

    <div class="ui one item menu">
        <div class="header item" id="info">
        </div>
    </div>
    <div class="ui container">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
        {% for cat,mes in messages %}
            <div class="ui toast"> <div class="content">{{ mes }}</div></div>
        {% endfor %} {% endif %} {% endwith %}
        <div class="ui two column grid">
            <div class="two column row">
                <div class="six wide column">
                    <div id="board" style="width: 400px"></div>
                </div>
                <div class="ten wide column">
                    {% if current_user.allowed %}
                    <div class="ui action input" id="moveinput">
                        <input type="text" id="move">
                        <button class="ui button" id="vote">Vote!</button>
                    </div>
                    {% endif %}
                    <div class="ui two column grid" style="margin-top: 5px; ">
                        <div class="eight wide column">
                            <table class="ui single line table" id="movetable">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Move</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="eight wide column">
                            <div class="ui horizontal segments" id="joinform">
                                <div class="ui segment">
                                    <button class="fluid ui basic button" id="joinwhite">Join White</button>
                                </div>
                                <div class="ui segment">
                                    <button class="fluid ui black button" id="joinblack">Join Black</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>